<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Martin Hayes, consultant orchardist, based in Cheltenham, UK">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="shortcut icon" href="/assets/img/favicon.ico">
  <title>Martin Hayes, Orchardist</title>
</head>
<body>
  <h1>Martin Hayes</h1>
  <h2>Orchardist</h2>
  <p>🍎</p>
  <p>
    Mobile <a href="tel:+447900985679">07900&nbsp;985&nbsp;679</a><br> Email <a href="mailto:hello@theapplemancan.uk">hello@theapplemancan.uk</a></p>
</body>
</html>
